<div>
    <div class="col-md-12" >
        Search Raw Address&nbsp;&nbsp;
        <input type="text" name="address" id="address" size="40" [(ngModel)]="address" /> &nbsp;&nbsp;
        <button mat-raised-button color="primary" (click)='doSearch(address)'>Search</button>&nbsp;
        <button mat-raised-button color="primary" (click)='doClear()'>Clear</button>

    </div>
    <div class="row">
        <div className="col-md-8">
            &nbsp;
        </div>
    </div>
    <div>
        <div class="row" *ngIf="derivedAddresses && derivedAddresses.length >0 ">
            <label style="font-weight:bold; font-size: 20px; text-align:center">Possible Top 5 Addresses:</label>

        </div>
        
        <table class="table table-striped table-condensed table-bordered" *ngIf="derivedAddresses && derivedAddresses.length >0 ">
            <thead>
                <tr>
                    <th style="min-width: 20;">Id</th>
                    <th style="min-width: 30;">Country</th>
                    <th style="min-width: 30;">Confidence Score</th>
                    <th style="min-width: 110;">Address</th>
                    <th style="min-width: 40;">Country Code</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor=" let addr of derivedAddresses ; let i=index ">
                    <td>{{i + 1}}</td>
                    <td>{{addr.derivedCountry}}</td>
                    <td>{{addr.derivedAddressImportance}}</td>
                    <td>{{addr.derivedAddress}}</td>
                    <td>{{addr.derivedCountryCode | uppercase}}</td>

                </tr>

            </tbody>

        </table>
   
    </div>
    <br/>
  <div>
         <div class="row" *ngIf ="derivedAddresses && derivedAddresses.length >0">
            <label style="font-weight:bold; font-size: 20px; text-align:center">Service Picked Address:</label>

        </div> 
         <table class="table table-striped table-condensed table-bordered" *ngIf ="derivedAddresses && derivedAddresses.length >0">
            <thead>
                <tr>

                    <th style="min-width: 30;">Country</th>
                    <th style="min-width: 30;">Confidence Score</th>
                    <th style="min-width: 110;">Address</th>
                    <th style="min-width: 40;">Country Code</th>
                </tr>
            </thead>
            <tbody>
                    <tr class="success" *ngIf ="derivedAddresses && derivedAddresses.length >0">
                            
                            <td>{{bestMatchAddr.derivedCountry}}</td>
                            <td>{{bestMatchAddr.derivedAddressImportance}}</td>
                            <td>{{bestMatchAddr.derivedAddress}}</td>
                            <td>{{bestMatchAddr.derivedCountryCode | uppercase}}</td>
        
                       

                </tr>

            </tbody>

        </table> 
    </div> 

</div>